* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../gifs/purple.gif);
    font-size: 16pt;
    text-align: justify;
}

article {
    border: 1px solid white;
    padding: 10px;
    margin: 10px;
    font-size: 1em;
    color: white;
    line-height: 1.5em;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

p {
    padding: 20px;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

img {
    width: 100%;
}

img:hover {
    outline: 3px solid orange;
}

table {
    margin: 0 auto;
    text-align: center;
}

td {
    border: 1px solid white;
    margin: 10px;
    padding: 10px;
}

code {
    font-size: 0.75em;
}

/* formatting */
.max-width-1000 {
    max-width: 1000px;
}

.title {
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.chapter {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-decoration: underline;
    margin: 20px 10px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}

.centered {
    margin: 0 auto;
}

.centered-text {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.big {
    font-size: 1.5em;
    line-height: 1.5em;
}

.italic {
    font-style: italic;
}

.reveal pre code, .hljs {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color: rgba(0, 0, 0, 0) !important;
    color: #DCDCDC;
    margin: 0px;
    padding: 10px;
}
