body {
    max-width: 800px;
    margin: 0 auto;
    font-family: Garamond, serif;
    font-size: 12pt;
    line-height: 1.5;
    padding: 50px;
}

article {
    font-size: 1.5em;
}

pre {
    overflow-x: auto;
}

a {
    color: darkblue;
}

a:hover {
    color: darkgreen;
}

img {
    width: 100%;
}

h1 {
    font-size: 3em;
    text-transform: uppercase;
}

h2 {
    font-size: 2em;
}

table {
    border-collapse: collapse;
    text-align: center;
}

td {
    border: 1px solid black;
    padding: 10px;
}

summary {
    cursor: pointer;
}

strong {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
    background-color: #eee;
    padding: 5px;
}

.mono {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.75em;
}

.home-btn {
    background-color: black;
    padding: 5px;
    margin-bottom: 20px;
}

.home-btn a {
    color: white;
    text-decoration: none;
}

.quote {
    font-size: 1.5em;
    font-style: italic;
}

.progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #ffffff;
    z-index: 1000;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    width: 0%;
    background-color: #000000;
    border-radius: 0 0 4px 4px;
    transition: width 0.1s linear;
}

@media only screen and (max-width: 800px) {
    article {
        font-size: 1em;
    }
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
}
