body {
    max-width: 800px;
    margin: 0 auto;
    font-family: Garamond, serif;
    font-size: 12pt;
    padding: 50px;
}

article {
    font-size: 1.5em;
}

pre {
    overflow-x: auto;
}

a {
    color: darkblue;
}

a:hover {
    color: darkgreen;
}

img {
    width: 100%;
}

h1 {
    font-size: 3em;
    text-transform: uppercase;
}

h2 {
    font-size: 2em;
}

table {
    border-collapse: collapse;
    text-align: center;
}

td {
    border: 1px solid black;
    padding: 10px;
}

.mono {
    font-family: 'Courier New', Courier, monospace;
}

.home-btn {
    background-color: black;
    padding: 5px;
    margin-bottom: 20px;
}

.home-btn a {
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 800px) {
    article {
        font-size: 1em;
    }
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
}
